doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        h1 #{page_title}
        hr
        form(action="#", method="post")
            input( name="list")
            button(type="submit") Add Text
        ol
          for data in ary
           li #{data}