<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1> <%= page_title %></h1>
   <hr>
   <form action="#" method="post">
       <input type="text" name="list" id="">
       <button type="submit">Add List</button>
   </form>
   <ul>
      <% ary.forEach(function(val){ %>
           <li><%= val %></li>
    <%   }) %>
   </ul>
</body>
</html>